.img1 {
    display: block; 
    margin-left: 10px; 
    margin-right:auto; 
    width: 680px;
  }
  
  .img2 {
    display: block; 
    margin-left: 10px; 
    margin-right:auto; 
    width: 400px;
  }